<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{this.type.toUpperCase()}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="publier()">
        <ion-icon name="md-add"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="md-search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-segment [(ngModel)]="vendre" color="light" style="background-color : #488aff">

    <ion-segment-button value="Louer">
      A Louer
    </ion-segment-button>

    <ion-segment-button value="Vendre">
      A Vendre
    </ion-segment-button>

  </ion-segment>
</ion-header>

<ion-content>

  <div [ngSwitch]="vendre">
    <ion-list *ngSwitchCase="'Louer'">
      <ion-row>
        <ion-col col5></ion-col>
        <ion-col col2 align="center">
        <!--  <ion-spinner *ngIf="this.finishedlouer" color="primary" align="center">

          </ion-spinner>-->
        </ion-col>
        <ion-col col5></ion-col>
      </ion-row>

      <div *ngIf="this.finishedlouer">
        <ion-item *ngFor="let logement of this.alouer" (click)="detail(logement)">
          <ion-thumbnail item-start>
              <img [src]="logement.photo[0]" *ngIf="logement.photo"/>
          </ion-thumbnail>

          <h3>{{logement.type}}
            <span *ngIf="logement.type=='Terrains' && logement.titre=='titre'">tritré</span>
            à louer

          </h3>

          <p>
            <ion-icon name="md-pin" color="secondary"></ion-icon>&nbsp; {{logement.ville || upperCase}} -
            <ion-badge color="primary"> {{logement.quartier}} </ion-badge>
          </p>

          <p>
            <ion-icon name="md-basket" color="secondary">
            </ion-icon>&nbsp; {{logement.prix}} FCFA

            <span *ngIf="logement.louer =='louer' || !logement.louer ">
              / mois
            </span>
          </p>
        </ion-item>
        <ion-infinite-scroll (ionInfinite)="scrollLouer($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Chargement des donnees...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>

    </ion-list>
    <ion-list *ngSwitchCase="'Vendre'">
      <ion-item *ngFor="let logement of this.avendre" (click)="detail(logement)">
        <ion-thumbnail item-start>
          <img [src]="logement.photo[0]" *ngIf="logement.photo"/>
        </ion-thumbnail>

        <h3>{{logement.type}} à vendre
        </h3>

        <p>
          <ion-icon name="md-pin" color="secondary"></ion-icon>&nbsp; {{logement.ville || upperCase}} -
          <ion-badge color="primary"> {{logement.quartier}} </ion-badge>
        </p>

        <p>
          <ion-icon name="md-basket" color="secondary">
          </ion-icon>&nbsp; {{logement.prix}} FCFA

          <span *ngIf="logement.louer =='louer' || !logement.louer ">
            / mois
          </span>
        </p>
      </ion-item>
      <ion-infinite-scroll (ionInfinite)="scrollVendre($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Chargement des donnees...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>
  </div>
</ion-content>